* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


body {
    background-color: #F7E6F3;
    margin: 0;
    padding: 0;
}

#header {
    height: 10vh;
    width: 100%;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EAC9E4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-img {
    max-height: 100px;
    max-width: 50px;
    margin-right: 40vw;
}

#nav-bar a {
    text-decoration: none;
    margin-right: 50px;
    color: black;
    font-size: 1.15rem;
    overflow-y: auto;
}


.backlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#email {
    width: 40%;
    min-width: 155px;
    height: 25px;
    margin-bottom: 10px;
    padding-right: 3px;
}

#submit {
    width: 20%;
    min-width: 80px;
    font-weight: 700;
    font-size: 1.1rem;
    transition-property: background-color;
    transition-duration: 3s;
    border: 0;
    background-color: #EAC9E4;
}

#submit:hover {
    background-color: #AC5C9D;
}

.icon-img {
    max-height: 100px;
    max-width: 50px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.properties {
    margin-top: 30px;
}

.property {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 100px;
}

.about h2,
.about p {
    margin: 0;
}

#video {
    margin-top: 30px;
    max-width: 340px;
    width: 50vw;
    height: 350px;
    border: 2px solid #EAC9E4;
}

.video-wrapper {
    display: flex;
    justify-content: center;
}

#product-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    min-width: 225px;
    width: calc(100% / 3);
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card p {
    text-align: center;
    text-transform: uppercase;
    background-color: #EAC9E4;
    font-weight: 700;
    margin: 0;
    padding: 10px 5px;
}

.card h2 {
    text-align: center;
}

.card ol {
    text-align: center;
    padding: 0;
}

.card ol li {
    text-decoration: none;
    list-style: none;
}

.card button {
    width: 30%;
    min-width: 50px;
    margin: 0 auto 10px auto;
    background-color: #EAC9E4;
    transition-property: background-color;
    transition-duration: 3s;
    border: 0;
    padding: 3px;
    font-weight: 500;
}

.card button:hover {
    background-color: #AC5C9D;
}

footer {
    background-color: #EAC9E4;
    padding: 10px;
    width: 90vw;
    margin: 0 auto;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    margin: 5px;
}

footer>p {
    margin: 0;
    color: gray;
    text-align: right;
}

@media only screen and (max-width:800px) {
    #product-cards {
        flex-direction: column;
        margin-top: 15px;
    }

    .card {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:650px) {
    #nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    .nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #nav-bar a {
        margin: 0;
    }

    #header-img {
        max-height: 100px;
        max-width: 50px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:550px) {
    
    .icon-img {
        display: none;
    }

    .about {
        width: 100%;
        text-align: center;
    }

    .property {
        display:block;
    }
}